 /*
 * Copyright (c) 2020 The ZMK Contributors
 * a
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define LOWER 3
#define RAISE 5
#define TILIN 7

/ {
    keymap {
            compatible = "zmk,keymap";

            default_layer {
                    label = "PC";
                    bindings = <
                        &kp TAB       &kp Q       &kp W      &kp E &kp R &kp T         &kp Y &kp U  &kp I     &kp O        &kp P          &kp BSPC
                        &lt TILIN ESC &kp A       &kp S      &kp D &kp F &kp G         &kp H &kp J  &kp K     &kp L        &lt TILIN SEMI &kp SQT
                        &kp LSHFT     &hm LCTRL Z &hm LALT X &kp C &kp V &kp B         &kp N &kp M  &kp COMMA &hm RALT DOT &hm RCTRL FSLH &kp RSHFT
                                        &kp LGUI &mo LOWER &hm LSHFT SPACE              &hm LSHFT RET &mo RAISE &kp LCTRL
                    >;
            };
    };
};
